#layout {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: minmax(300px,auto) 1fr;
  grid-template-rows: 50px 1fr;
  min-height: 100vh;
  & > header {
    grid-area: header;
    background-color: #4a3636;
    color: white;
    text-align: center;
    text-transform: uppercase;

  }

  & > main {
    grid-area: main;
    background-color: #ffffff;
    height: calc(100vh - 50px);
    overflow-y: scroll;
  }

  @media (max-width: 1200px) {
    grid-template-areas:
    " header"
    " main";
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr;

  }
}


